body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
}
section {
    width: 100vw;
    min-height: 100vh;
}
.black {
    background-color: black;
    color: white;
}
.logo img {
    width: 35vw;
    margin: 25vh 32.5vw;
}
footer {
    background-color: black;
    color: white;
}
footer article{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
footer article i {
    font-size: 30px;
    margin: 20px;
}
footer article i:hover {
    color: #D6AD60;
    cursor: pointer;
}